 <br> <br> <a routerLink="/home" style="text-align: left; text-decoration: none; margin-left: 300px; "> <strong> Back</strong> </a>
<div class="container" style="margin-top: 7px; height:720px">
    <br>
    <h1 style="text-align: center;">Our <span style="color: blue;">Services</span></h1>
    <p style="text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur voluptatibus nam, unde sed quasi illum facilis, neque iste eaque dolorum incidunt pariatur, dolores qui iusto quam itaque aspernatur animi dignissimos. </p>
    <p style="text-align: center; line-height: 5px;">  Consequatur voluptatibus nam, unde sed quasi illum facilis, neque iste eaque dolorum incidunt pariatur, dolores qui iusto quam itaque aspernatur animi dignissimos.</p> <br> <hr>

    <div class="row" style="margin-top:55px;">
        <div class="col-md-3">
            <div class="card" style="width: 77%; margin-left: 25px;">
                <img src="../../assets/Images/tvmbl.jpg" class="card-img-top" alt="UI">
                <div class="card-body text-center">
                  <h5 class="card-title">UI/UX Development</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="ui" class="btn btn-primary">Know More</a>
                </div>
              </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 77%; margin-left: 25px;">
                <img src="../../assets/Images/tvmbl.jpg" class="card-img-top" alt="GD">
                <div class="card-body text-center">
                  <h5 class="card-title">Graphic & Design</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="graphic" class="btn btn-primary">Know More</a>
                </div>
              </div>

        </div>

        <div class="col-md-3">
            <div class="card" style="width: 77%; margin-left: 25px;">
                <img src="../../assets/Images/tvmbl.jpg" class="card-img-top" alt="VD">
                <div class="card-body text-center">
                  <h5 class="card-title">Video Editing</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="video" class="btn btn-primary">Know More</a>
                </div>
              </div>

        </div>

        <div class="col-md-3">
            <div class="card" style="width: 77%; margin-left: 25px;">
                <img src="../../assets/Images/tvmbl.jpg" class="card-img-top" alt="VFX">
                <div class="card-body text-center">
                  <h5 class="card-title">VFX & Animation</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="vfx" class="btn btn-primary">Know More</a>
                </div>
              </div>
              <br><br>

        </div>
    </div>
</div>
 