<div class="container" >
    <app-nav-bar></app-nav-bar>

    <div class="row">
        <div class="col-md-6">
            <br> <br> 
            <p style="margin-top: 25px; margin-left:25px; font-size: 50px; border-left: 7px solid blue;">
               &nbsp; Home
            </p> 
            <p style="margin-left:25px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sint ipsa error, deserunt enim, hic neque odit quam alias debitis ducimus, nostrum eligendi vero explicabo iste ex nulla aut maiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum neque laboriosam, totam sed ipsam in fugiat dignissimos sit suscipit! Laboriosam totam sed enim fugiat culpa cumque aliquid nobis veniam aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus quibusdam. Ipsam pariatur eveniet, sunt modi facilis quis deserunt corrupti ea quo aut harum ut quisquam cupiditate deleniti enim consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum mollitia accusamus.
            </p> <br>
            <button class="btn btn-success" style="margin-left:25px;" (click)="Product()">Products</button> 
            <button class="btn btn-primary" style="margin-left:25px;" (click)="Services()">Services</button> <br> <br> <br>
        
        </div>

        <div class="col-md-6">
            <div class="second">
                <img src="../../assets/Images/tvmbl.jpg" alt="TvMbl" style="height: 100%; width:100%;">
            </div>
        </div>
    </div>
</div>