.card{
    margin-top: 15px;
    border: 1px solid blue;
    width: 550px;
    padding: 45px;
    position: absolute;
    top: 7%;
    left: 35%;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
    box-shadow: 0 0 13px inset rgba(255, 0, 0, 0.2);
}