<div class="container">

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Karma</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style="margin-left: 25px; font-size: 20px;">Home</a>
                      <a class="nav-link" routerLinkActive="active" style="margin-left: 25px; font-size: 20px;" routerLink="/products">Products</a>
                      <a class="nav-link" routerLinkActive="active" style="margin-left: 25px; font-size: 20px;" routerLink="/buy-products">Buy Products</a>
                      <a class="nav-link" routerLinkActive="active" style="margin-left: 25px; font-size: 20px;" routerLink="/services">Services</a>
                      <a class="nav-link" routerLinkActive="active" style="margin-left: 25px; font-size: 20px;" routerLink="/contact">Contact Us</a>
                      <a class="nav-link" routerLinkActive="active" style="margin-left: 25px; font-size: 20px;" routerLink="/add-products">Add Products</a>
                      <a class="nav-link logout" routerLinkActive="active" style="margin-left: 232px; border-radius: 16px; border: 1px solid rgb(26, 25, 25); font-size: 20px; padding: 11px;" routerLink="/login">Log Out</a>
                    </div>
                  </div>
                </div>
              </nav>
        </div>
    </div>
    </div>

