<br> <br> <a routerLink="/services" style="text-align: left; text-decoration: none; margin-left: 300px; "> <strong> Back</strong> </a>
<div class="container" >

    <h1 style="text-align: center; color:rgb(44, 44, 97); font-family:Georgia, 'Times New Roman', Times, serif; margin-top:25px; margin-bottom: 25px;"> 
        Graphic and Design
     </h1>

    <div class="row">
        <div class="col-md-2"> 
        </div>
        <div class="col-md-8">
            <img src="../../../assets/Images/gd.jpg" alt="gd" style="width: 100%; height: 95%;">
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p style="line-height: 25px; font-size: large;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id ipsa eaque modi suscipit labore unde saepe fuga perferendis? Cupiditate doloremque pariatur atque nemo iste nisi possimus officiis similique laudantium!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus totam vero? Quisquam molestias rem hic eum ex vero facilis ipsa, tenetur rerum id illum cum sed nemo maxime dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias porro minima quas unde et? Odio laborum, fuga temporibus nisi pariatur quos, soluta eveniet non repudiandae quia recusandae placeat maxime suscipit? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias nam inventore sint assumenda quo, itaque at doloribus odio harum. Illum at totam fugit eaque tenetur repellendus maxime, hic labore dolores!
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>


</div>
