<h4 class="h4">
    Washing Machine
</h4>
<img src="../../../assets/Images/wm.jpg" alt="Laptop page" class="rounded w-100">

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus alias quas fugiat minima corrupti corporis minus magnam, sit similique suscipit adipisci inventore consequatur ut non et fuga tempora cum aliquid!
Itaque, quo architecto obcaecati, enim veniam non officiis temporibus sint rem cum aliquam. Nam modi inventore, minima culpa sapiente molestiae odio delectus vitae! Ducimus placeat, veniam provident amet aperiam at.
Quae fugiat ab quis explicabo quasi ex sint aliquam esse ad nulla tempore, repellat, ullam fuga. Alias ratione, sunt, veritatis saepe nulla ex nihil fuga soluta sit quaerat velit et.
Illo, fugit ad animi amet neque repellat unde voluptates beatae tenetur non nihil impedit quis quia! Minima ea fugiat, cum nobis officia numquam consequuntur odio harum dolorum iste alias odit?
In adipisci magnam at soluta cumque ipsam laborum, commodi similique architecto velit? Soluta totam temporibus aperiam? Adipisci quod, repudiandae officiis nesciunt dolorem deleniti asperiores odio, illum, placeat blanditiis eos expedita.</p>

